:root {
  --primery-text-color: #757575;
  --titel-text-color: #212121;
  --accent-color: #2196f3;
  --accent-color-btn: #ffffff;
  --nav-color: #212121;
  --logo-head-color: #000000;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --primery-bg-color: #e5e5e5;
  --white-color: #ffffff;
  --footer-bg-color: #2f303a;
  --section-bg-color: #f5f4fa;
  --primery-social-color: #afb1b8;
  --accent-social-color: #ffffff;
  --transform-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transform-time: 250ms;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  background-color: var(--white-color);
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.link {
  display: block;
  text-decoration: none;
}
.list {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* Header */

.header {
  background-color: var(--white-color);
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--logo-head-color);
}
.web {
  color: var(--accent-color);
}
.navigation-menu {
  display: flex;
}
.navigation-item:not(:last-child) {
  margin-right: 50px;
}
.navigation-link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--transform-time) var(--transform-function);

  color: var(--nav-color);
}
.active,
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}
.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.contacts-list {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.cotacts-item {
  align-items: center;
}
.cotacts-item:not(:last-child) {
  margin-right: 30px;
}
.contacts-link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);

  transition: color var(--transform-time) var(--transform-function);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
.envelope-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--primery-text-color);
}
.contacts-link:hover .envelope-icon,
.contacts-link:focus .envelope-icon {
  fill: var(--accent-color);
}

.smartphone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--primery-text-color);
}
.contacts-link:hover .smartphone-icon,
.contacts-link:focus .smartphone-icon {
  fill: var(--accent-color);
}

/* Hero */

.hero {
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;

  background-color: var(--footer-bg-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../imeg/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-color);
}
.hero-btn {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  padding: 10px 32px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--accent-color-btn);

  transition: background var(--transform-time) var(--transform-function);
}
.hero-btn:hover,
.hero-btn:focus {
  background: #188ce8;
  cursor: pointer;
}

/* advantage */

.advantages-list {
  display: flex;
  min-width: 270px;
  margin-right: -30px;
}
.advantage-item:not(:last-child) {
  margin-right: 30px;
}
.tumb {
  display: flex;
  margin-bottom: 30px;
  height: 120px;
  border-radius: 5px;

  justify-content: center;
  align-items: center;

  background-color: var(--section-bg-color);
}
.advantages-icon {
  width: 70px;
  height: 70px;
}

.advantage-subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--titel-text-color);
  text-transform: uppercase;
}
.advantage-text {
  font-size: 14px;
  line-height: 1.71;
}

/* work */

.work {
  padding-top: 0;
}
.work-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--titel-text-color);
}
.work-list {
  display: flex;
}
.work-item {
  position: relative;

  flex-basis: calc(100 / 3 - 30px);
}
.work-item:not(:last-child) {
  margin-right: 30px;
  min-width: 370px;
}
.work-imeg-tumb {
  position: absolute;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.8),
    rgba(47, 48, 58, 0.8)
  );
}
.work-imeg-tilte {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: var(--white-color);
}

/* Team */

.team {
  background-color: var(--section-bg-color);
}
.team-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--titel-text-color);
}
.team-list {
  display: flex;
}
.team-item {
  flex-basis: calc(100 / 4 - 30px);
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-content {
  padding: 30px 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  background: var(--white-color);
}
.team-subtitle {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--titel-text-color);
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}
.social-list {
  display: flex;
  justify-content: center;
}
.social-item {
  width: 44px;
  height: 44px;
}
.social-item + .social-item {
  margin-left: 10px;
}
.social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color var(--transform-time) var(--transform-function);
}
.social-link:focus,
.social-link:hover {
  background-color: var(--accent-color);
}
.social-link:focus .social-icon,
.social-link:hover .social-icon {
  fill: var(--accent-social-color);
}
.social-icon {
  width: 20px;
  height: 20px;
  fill: var(--primery-social-color);

  transition: fill var(--transform-time) var(--transform-function);
}

/* CLIENT */

.clients-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--titel-text-color);
}
.clients-list {
  display: flex;
  justify-content: center;
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}
.clients-item {
  width: 170px;
  height: 92px;
}
.clients-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--primery-social-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: border var(--transform-time) var(--transform-function);
}
.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
}
.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}
.clients-icon {
  width: 106px;
  height: 60px;
  fill: var(--primery-social-color);

  transition: fill var(--transform-time) var(--transform-function);
}

/*----------------- Portfolio -----------------*/

.filter-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}
.filter-btn {
  padding: 6px 22px;
  background: #f5f4fa;
  border-radius: 4px;
  border-width: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--nav-color);

  transition-property: background, color, box-shadow;
  transition-timing-function: var(--transform-function);
  transition-duration: var(--transform-time);
}
.filter-btn:hover,
.filter-btn:focus {
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--accent-color-btn);
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}
.portfolio-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio-link {
  transition: box-shadow var(--transform-time) var(--transform-function);
}

.card-description {
  position: relative;
  overflow: hidden;
}

.card-text {
  position: absolute;
  top: 0;
  transform: translateY(100%);

  transition: transform var(--transform-time) var(--transform-function);

  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
}
.portfolio-content {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.portfolio-link-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--titel-text-color);
}
.portfolio-link-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primery-text-color);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-link:hover .card-text,
.portfolio-link:focus .card-text {
  transform: translateY(0);
}

/*------------- Footer-------------- */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--footer-bg-color);
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-address {
  margin-right: 70px;
}
.footer-logo {
  display: block;
  margin-bottom: 20px;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--white-color);
}
.footer-address-data {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: var(--white-color);
}
.footer-contact-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contact-link {
  font-size: 14px;
  line-height: 1.71;
  color: var(--footer-contact-color);

  transition: color var(--transform-time) var(--transform-function);
}
.footer-contact-link:hover,
.footer-contact-link:focus {
  color: var(--accent-color);
}
.social-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--white-color);
}
.footer-social-list .social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-social-list .social-icon {
  fill: var(--white-color);
}
.social-link:focus,
.social-link:hover {
  background-color: var(--accent-color);
}
.footer-form {
  margin-left: 93px;
}
.form-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--white-color);
}
.mail-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;

  color: var(--white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: none;

  transition: border var(--transform-time) var(--transform-function);
}
.footer-input:hover,
.footer-input:focus {
  border: 1px solid var(--accent-color);
}
.footer-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  display: flex;
  align-items: center;

  color: rgba(255, 255, 255, 0.6);
}
.form-btn {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0;

  padding: 10px 32px;
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--accent-color-btn);

  transition: background var(--transform-time) var(--transform-function);
}
.form-btn:hover,
.form-btn:focus {
  background: #188ce8;
  cursor: pointer;
}
.send-icon {
  display: flex;
  align-items: center;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: var(--white-color);
}

/* ------------------MODAL---------------- */

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: opacity 250ms linear, visibility 250ms linear;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: scale(2);
}
.modal {
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--white-color);
  border-radius: 4px;
  position: relative;
  transform: scale(1);
  transition: transform 250ms linear;
}
.close-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.close-icon {
  width: 18px;
  height: 18px;
  fill: #000000;
  transition: fill var(--transform-time) var(--transform-function);
}
.close-btn:hover .close-icon,
.close-btn:focus .close-icon {
  fill: var(--accent-color);
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;

  color: var(--titel-text-color);
}
.modal-form {
}
.form-filed {
  margin-bottom: 10px;
}
.modal-input:focus,
.modal-textarea:focus {
  border-color: var(--accent-color);
}
.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}
.modal-lable {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;

  color: var(--primery-text-color);
  cursor: pointer;
}
.input-wrapper {
  display: block;
  position: relative;
}
.modal-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 16px;
  cursor: pointer;
  outline: none;

  transition: border-color var(--transform-time) var(--transform-function);
}
.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  width: 18px;
  height: 18px;

  transition: fill var(--transform-time) var(--transform-function);
}
.coment-form {
  margin-bottom: 0;
}
.modal-textarea {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  cursor: pointer;
  outline: none;

  transition: border-color var(--transform-time) var(--transform-function);
}
textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.form-checkbox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.form-checkbox:hover .check-active {
  border-color: var(--accent-color);
}
.modal-checkbox:checked + .label-checkbox .check-active {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  /* background-image: url(../imeg/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center; */
}

.modal-checkbox {
  position: absolute;
  cursor: pointer;
}
.label-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 14px;
  line-height: 1.71;

  color: var(--primery-text-color);
  cursor: pointer;
}
.check-active {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--nav-color);
  border-radius: 3px;
  margin-right: 8px;

  transition: border-color var(--transform-time) var(--transform-function),
    background-color var(--transform-time) var(--transform-function);
}
.check-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  fill: var(--white-color);
}
.checkbox-link {
  font-size: 14px;
  line-height: 1.71;
  text-decoration-line: underline;

  color: var(--accent-color);
}
.modal-btn {
  display: block;
  margin: 0 auto;
}
