.advantages-list {
  display: flex;
  min-width: 270px;
  margin-right: -30px;

  &__item:not(:last-child) {
    margin-right: 30px;
  }
  &__tumb {
    display: flex;
    margin-bottom: 30px;
    height: 120px;
    border-radius: 5px;

    justify-content: center;
    align-items: center;

    background-color: var(--section-bg-color);
  }
  &__icon {
    width: 70px;
    height: 70px;
  }
  &__subtitle {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--titel-text-color);
    text-transform: uppercase;
  }
  &__text {
    font-size: 14px;
    line-height: 1.71;
  }
}
