body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  background-color: var(--white-color);
}
.link {
  display: block;
  text-decoration: none;
}
.list {
  list-style: none;
}
